body,
p,
h1,
ul,
li,
blockquote {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: 'Vollkorn', Georgia, serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  border-radius: 5px;
}

/* GRID GERAL */

.estrutura {
  display: grid;
  grid-template-columns: minmax(160px, 1fr) 3fr 300px;
  grid-template-areas:
    'header header header'
    'sidenav content audios'
    'footer footer footer';
}

@media (max-width: 1200px) {
  .estrutura {
    grid-template-areas:
      'header header header'
      'sidenav content content'
      'sidenav audios audios'
      'footer footer footer';
  }
}

@media (max-width: 760px) {
  .estrutura {
    grid-template-columns: 100%;
    grid-template-areas:
      'header'
      'sidenav'
      'content'
      'audios'
      'footer';
  }
}

/*HEADER*/

.header {
  grid-area: header;
  background: #EC7000;
  padding: 30px;
  padding-top: 15px;
  padding-bottom: 17px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.logo {
  max-width: 200px;
}

.header nav ul {
  display: flex;
  flex-wrap: wrap;
}

.header nav a {
  display: block;
  padding: 10px;
  color: white;
  font-size: 1.125em;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: 0.1s;
}

.header nav a:hover {
  background: rgba(0, 0, 0, 0.5);
}

.header li + li {
  margin-left: 75px;
}

@media (max-width: 760px) {
  .header {
    grid-template-columns: auto;
  }
  .logo {
    margin-bottom: 20px;
  }
  .header nav a {
    font-size: 1em;
  }
  .header li + li {
    margin-left: 10px;
  }
}

/*SIDENAV*/

.sidenav {
  grid-area: sidenav;
  background: #fafbfc;
  padding: 30px;
}

.sidenav li a {
  display: block;
  min-width: 60px;
  max-width: 100px;
  margin: 0 auto 30px auto;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  transition: 0.1s ease-out;
}

.sidenav li a:hover {
  background: #b07dfb;
}

@keyframes seta {
  from {
    right: 30px;
  }
  to {
    right: 20px;
  }
}

@media (max-width: 760px) {
  .sidenav {
    position: relative;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .sidenav::after {
    content: '→';
    position: absolute;
    top: 5px;
    right: 30px;
    color: rgba(0, 0, 0, 0.3);
    animation: seta 0.5s ease-in 0s infinite alternate;
  }
  .sidenav ul {
    display: flex;
  }
  .sidenav li {
    flex: 1 0 60px;
  }
  .sidenav {
    padding: 0 30px;
  }
  .sidenav li a {
    margin: 30px 30px 30px 0;
  }
}

/*CONTENT*/

.content {
  grid-area: content;
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

@media (max-width: 500px) {
  .content {
    grid-template-columns: auto;
  }
}

.col-wide {
  grid-column: 1 / -1;
}

.imagem-1 {
  grid-row: span 2;
  align-self: end;
  padding-top: 20px;
}

/*ESTILOS CONTENT*/

p {
  font-size: 1.2em;
  line-height: 1.6;
  letter-spacing: -0.005em;
  color: rgba(0, 0, 0, 0.7);
}

.informacoes p + p {
  margin-top: 30px;
}

/*TITULO*/

.titulo {
  color: rgba(0, 0, 0, 0.7);
}

.titulo h1 {
  font-size: 3.75em;
  line-height: 1;
  font-weight: 700;
}

.titulo a {
  color: rgba(0, 0, 0, 0.7);
}


.citacao,
.atributos {
  align-self: start;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  background: #EC7000;
}

.citacao p {
  font-size: 1.5em;
  font-style: italic;
  text-align: center;
  color: white;
  max-width: 500px;
  margin: 0 auto;
}

.atributos li {
  color: white;
  font-family: Courier, monospace;
  font-size: 1.125em;
  padding: 15px;
}

.atributos li + li {
  border-top: 2px solid #b07dfb;
}

/*Audios*/

.audios {
  grid-area: audios;
  background: #fafbfc;
  display: grid;
  align-content: start;
  padding: 30px;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

/*FOOTER*/

.footer {
  grid-area: footer;
  background: #EC7000;
  margin-top: 150px;
 
}

.footer p {
  color: white;
  text-align: center;
  padding: 30px;
  margin-top: 50px;

}

/* Estilizacao da pagina Saiba Mais */

.container_sm{
  color: #EC7000;
  padding: 40px;
    box-shadow: 0 15px 25px (0,0,0,0.4);
  
  }
  
  .container_sm p a{
  color: #000;
  
  }
  
  .container_sm h2 {
  margin-bottom: 10px;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  padding-top: 10px;
  }
  
  .container_sm ul{
  position: relative;
  padding-top: 15px;
  padding-left: 20px;
  }
  
  .container_sm ul li {
  position: relative;
  list-style: none;
  display: table;
  margin: 30px 0;
  padding-left: 34px;
  padding-right: 5px;
  }
  
  .container_sm ul li::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 34px;
  background: transparent;
  border-radius: 34px;
  transition: background 0.5s, width 0.5s;
  transition-delay: 0.5s, 0s ;
  border: 2px solid #EC7000;
  box-sizing: border-box;
  }
  
  .container_sm ul li:hover::before{
  width: 100%;
  background: #EC7000;
  transition-delay: 0s, 0.5s;
  }
  
  .container_sm ul li::after{
  content: '';
  position: absolute;
  top: 13px;
  left: 5px;
  width: 6px;
  height: 6px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  transform: rotate(45deg);
  }
  
  .container_sm ul li p{
  position: relative;
  z-index: 10;
  padding: 5px 10px;
  
  }
  /* Estilizacao da pagina Sobre */
.texto{

  margin-top: 10%;
  display: flex;
    width: 100%;
 
 
}

.LI-profile-badge{

  width: 50%;
  height: 50&;
}

  
/* Estilizacao da pagina contatos */

.container_con{
  margin: 540px 0 0;
  
}

.contact-form{
  width: 85%;
  max-width: 600px;
  background: #f1f1f1;
  position: relative;
  top: 5%;
  left: 50%;
 
      transform: translate(-50%,-50%);
  padding: 30px 40px;
  margin-top: 50px;
  margin-bottom: 50px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 20px #000000b3;
  font-family: "Montserrat",sans-serif;
}
.contact-form h1{
  margin-top: 0;
  font-weight: 200;
}
.txtb{
  border:1px solid gray;
  margin: 8px 0;
  padding: 12px 18px;
  border-radius: 8px;
}
.txtb label{
  display: block;
  text-align: left;
  color: #333;
  text-transform: uppercase;
  font-size: 14px;
}
.txtb input,.txtb textarea{
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
  margin-top: 6px;
}
.btn{
  display: inline-block;
  background: #EC7000;
  padding: 14px 0;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 8px;
  width: 100%;
}

@media (max-width: 400px) {
  .contact-form{
    margin-top: 5px;
   
  }
}