body, p, h1, ul, li, blockquote {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family:sans-serif;
    
    text-align: -webkit-center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    border-radius: 5px;
}

/* Estrutura Geral */

.estrutura {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "header header"
    "content content"
    "footer footer"
    ;
}

/*Header*/
.header {
  grid-area: header;
  background-color: #EC7000;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.logo {
max-width: 200px;
}

.header nav ul {
  display: flex;
  flex-wrap: wrap;
}

.header nav a {
  display: block;
  padding: 10px;
  color: white;
  font-size: 1.125em;
  background: rgba(0,0,0,.1);
  border-radius: 5px;
  transition: 0.1s;
}

.header nav a:hover {
  background: rgba(0,0,0,.5);
}

.header li + li {
  margin-left: 35px;
}

.logo{
  max-width: 150px;
}



img {
  max-width: 150px;
}

/* Area esquerda videos */

.video{
grid-area: video;
}

/* Area direita podcast */

.podcast{
grid-area: podcast;
}


/* Conteudo central */

.content {
  grid-area: content;
  margin: 0;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.col-wide {
  grid-column: 1 / -1; /*usar depois*/
}

.imagem-1 {
  max-width: 600px;
  max-height: 550px;
  width: auto;
  height: auto;
  align-self: end;
  padding-top: 20px;
}

.imagem-2 {
  max-width: 600px;
  max-height: 550px;
  width: auto;
  height: auto;
  padding-top: 20px;
}

/* Estilo do Content */

p {
  font-size: 1.2em;;
  line-height: 1.6;
  letter-spacing: -0.005em;
  color: rgba(0,0,0,.7);
}

/* Titulo */

.titulo {
  color: #EC7000;
  
}
.texto {
  font-size: 1.2em;
  line-height: 1.6;
  letter-spacing: -0.005em;
  color: rgba(0,0,0,.7);
}

.citacao{
  padding: 30px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  background: linear-gradient(135deg, #EC7000, #FFD191);
}

.citacao p{
  font-size: 1.5em;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

/* Footer */

.footer {
  grid-area: footer;
  background: #EC7000;
  position: relative;
  margin-top: 10px;
}

.footer p {
  color: white;
  text-align: center;
  padding: 30px;
}

/* Estilizacao do Contador */

@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@300;400&display=swap");

* {
box-sizing: border-box;
}

.numeros_itau {
  position: absolute;
  margin-bottom: 375px;
  font-size: 2.0em;
}

.mais_info {
  position: absolute;
  margin-top: 375px;
  font-size: 1.3em;
}

.style_cont {
font-family: "Montserrat";
background-color: #f1f3f6;
display: flex;
justify-content: center;
align-items: center;
height: 70vh;
overflow: hidden;
margin: 0;
color: #4e4d4d;
}

.contador {
display: grid;
grid-template-columns: repeat(4, 200px);
grid-gap: 1rem;
background-color: #fff;
padding: 2rem;
border-radius: 1rem;
box-shadow: inset 0 0 15px rgba(55, 84, 170, 0),
  inset 0 0 20px rgba(255, 255, 255, 0), 7px 7px 15px rgba(55, 84, 170, 0.15),
  -7px -7px 20px rgba(255, 255, 255, 1),
  inset 0px 0px 4px rgba(255, 255, 255, 0.2);
}

.card {
line-height: 1.7;
font-size: 1.25rem;
text-align: center;
}

[class*="fa-"] {
font-size: 4rem;
filter: drop-shadow(0px 10px 15px rgba(55, 84, 170, 0.25));
}

.number {
font-family: "Mitr", "Montserrat", "Segoe UI", Tahoma, Geneva, Verdana,
  sans-serif;
font-size: 2rem;
}

.fa-quora {
color: #b92b27;
}

.fa-facebook {
color: #3b5999;
}

.fa-code {
color: #34465d;
}

.fa-check {
color: #27ae60;
}

@media screen and (max-width: 576px) {
.contador {
  grid-template-columns: 1fr;
}
.card {
  padding: 1rem 0;
}
}

/* Estilizacao da pagina saiba mais */

.container_sm{
color: #EC7000;
padding: 40px;
box-shadow: 0 15px 25px (0,0,0,0.4);

}

.container_sm p a{
color: #000;
}

.container_sm h2 {
margin-bottom: 10px;
text-align: center;
max-width: 500px;
margin: 0 auto;
padding-top: 10px;
}

.container_sm ul{
position: relative;
padding-top: 15px;
padding-left: 150px;
}

.container_sm ul li {
position: relative;
list-style: none;
display: table;
margin: 30px 0;
padding-left: 34px;
padding-right: 5px;
}

.container_sm ul li::before{
content: '';
position: absolute;
top: 0;
left: 0;
width: 34px;
height: 34px;
background: transparent;
border-radius: 34px;
transition: background 0.5s, width 0.5s;
transition-delay: 0.5s, 0s ;
border: 2px solid #EC7000;
box-sizing: border-box;
}

.container_sm ul li:hover::before{
width: 100%;
background: #EC7000;
transition-delay: 0s, 0.5s;
}

.container_sm ul li::after{
content: '';
position: absolute;
top: 13px;
left: 12px;
width: 6px;
height: 6px;
border-top: 2px solid #000;
border-right: 2px solid #000;
transform: rotate(45deg);
}

.container_sm ul li p{
position: relative;
z-index: 10;
padding: 5px 10px;

}
